In [18]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report, precision_recall_fscore_support
from sklearn.metrics import roc_curve, roc_auc_score
from sklearn.metrics import precision_recall_curve
import seaborn as sns
from matplotlib import pyplot as plt
import warnings
warnings.filterwarnings(action="ignore")

pd.options.display.max_columns = None

In [4]:
titanic = pd.read_csv("C:/Users/Elif/data/titanic.csv")
titanic.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [8]:
titanic.shape

(891, 12)

In [9]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [10]:
titanic.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [11]:
titanic.isnull().values.any()

True

In [13]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [14]:
titanic["is_male"] = pd.get_dummies(titanic.Sex, drop_first=True)
titanic.groupby(["Embarked"])["PassengerId"].count()

Embarked
C    168
Q     77
S    644
Name: PassengerId, dtype: int64

In [5]:
titanic['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [22]:
a=sns.barplot(x="Sex", y="Survived", hue="Sex", data=titanic);
a.set_title("Survived Distribution by Gender");
a

In [21]:
sns.distplot(titanic.Pclass)

In [25]:
import matplotlib.pyplot as plt
corr=titanic.corr()
plt.figure(figsize=(8, 8))
sns.heatmap(corr, vmax=.8, linewidths=0.05,square=True,annot=True)

In [26]:
X=titanic[['Pclass','is_male','Fare','SibSp','Parch']]
y=titanic[['Survived']]
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.20, random_state=111)
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)

LogisticRegression()

In [27]:
train_prediction = log_reg.predict(X_train)
test_prediction = log_reg.predict(X_test)

In [28]:
confusion_matrix_train = confusion_matrix(y_train, train_prediction)
confusion_matrix_test = confusion_matrix(y_test, test_prediction)
print("Confusion Matrix Train Data\n",confusion_matrix_train,"\n","****************************")
print("Confusion Matrix Test Data \n",confusion_matrix_test)

Confusion Matrix Train Data
 [[378  58]
 [ 87 189]]
 ****************************
Confusion Matrix Test Data
 [[101  12]
 [ 23  43]]

In [29]:
TN = confusion_matrix_test[0][0]
TP = confusion_matrix_test[1][1]
FN = confusion_matrix_test[1][0]
FP = confusion_matrix_test[0][1]

print("True negative amount  :", TN)
print("True positive amount  :", TP)
print("False positive amount :", FP)
print("False negative amount :", FN)

True negative amount  : 101
True positive amount  : 43
False positive amount : 12
False negative amount : 23

In [30]:
from sklearn.metrics import accuracy_score
print("accuracy_score() value        : ",  accuracy_score(y_test, test_prediction))

accuracy_score() value        :  0.8044692737430168

In [31]:
from sklearn.metrics import precision_score
print("precision_score() value      : ",  precision_score(y_test, test_prediction))

precision_score() value      :  0.7818181818181819

In [32]:
from sklearn.metrics import recall_score
print("recall_score() value      : ",  recall_score(y_test, test_prediction))

recall_score() value      :  0.6515151515151515

In [33]:
from sklearn.metrics import f1_score
print("f1_score() value     : ",  f1_score(y_test, test_prediction))

f1_score() value     :  0.7107438016528926

In [34]:
C_values = [0.001,0.01, 0.1,1,10,100, 1000]

import matplotlib.pyplot as plt
# Plot ROC curve
for c in C_values:
    lr = LogisticRegression(penalty = 'l2', C = c, random_state = 0)
    lr.fit(X_train, y_train)
    test_prediction_proba_ = log_reg.predict_proba(X_test)[:,1]
    fpr, tpr, thresholds  = roc_curve(y_test, test_prediction_proba_)
    
    plt.plot([0, 1], [0, 1], 'k--')
    plt.plot(fpr, tpr)

    plt.xlabel('False Positive Ratio')
    plt.ylabel('True Positive Ratio')
    plt.title('ROC Curve')

    plt.show()

In [35]:
accuracy_values = pd.DataFrame(columns=['C_values', 'Train Accuracy', 'Test Accuracy'])

for c in C_values:
    # Apply logistic regression model to training data
    lr = LogisticRegression(penalty = 'l2', C = c, random_state = 0)
    lr.fit(X_train, y_train)
    accuracy_values = accuracy_values.append({'C_values': c,
                                              'Train Accuracy': lr.score(X_train, y_train),
                                              'Test Accuracy': lr.score(X_test, y_test)
                                             }, ignore_index=True)
display(accuracy_values)

   C_values  Train Accuracy  Test Accuracy
0     0.001        0.676966       0.692737
1     0.010        0.712079       0.743017
2     0.100        0.790730       0.793296
3     1.000        0.796348       0.804469
4    10.000        0.797753       0.804469
5   100.000        0.797753       0.804469
6  1000.000        0.797753       0.804469